.app__navbar {
	position: fixed;
	z-index: 2;

	width: 100%;
	padding: 1rem 2rem;
	border: thin solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.25);

	display: flex;
	justify-content: space-between;
	align-items: center;

	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.app__navbar-links {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;

	list-style: none;

	li {
		margin: 0 1rem;
		cursor: pointer;
		flex-direction: column;

		a {
			font-weight: 500;
			font-size: 1rem;
			text-decoration: none;
			color: var(--gray-color);
			flex-direction: column;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: var(--secondary-color);
			}
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.app__navbar-menu {
	position: relative;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: var(--secondary-color);

	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 70%;
		height: 70%;
		color: var(--white-color);
	}

	div {
		position: fixed;
		z-index: 5;
		top: 0;
		bottom: 0;
		right: 0;

		width: 80%;
		height: 100vh;
		padding: 1rem;

		background: url("../../assets/bgWhite.png");
		background-color: var(--white-color);
		background-size: cover;
		background-repeat: repeat;

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;

		box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

		svg {
			width: 35px;
			height: 35px;
			margin: 0.5rem 1rem;
			color: (var(--secondary-color));
		}

		ul {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			list-style: none;

			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;

			li {
				margin: 1rem;

				a {
					text-decoration: none;
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 500;
					color: var(--gray-color);
					transition: all 0.3s ease-in-out;

					&:hover {
						color: var(--secondary-color);
					}
				}
			}
		}

		@media screen and (min-width: 900px) {
			display: none;
		}
	}

	@media screen and (min-width: 900px) {
		display: none;
	}
}
