.languageBtns {
	width: fit-content;
	max-width: 300px;
	/* border: 3px solid red; */
}

.languageBtns > button {
	padding: 0.8rem;
	border: none;
	font-size: 1rem;
	background-color: white;
	cursor: pointer;
}

.languageBtns > button.active {
	color: white;
	background-color: var(--secondary-color);
	transition: 0.5s;
}
